<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Rental</title>
</head>
<body>
<h2>Add Rental</h2>
<form th:action="@{/rentals}" th:object="${rental}" method="post">
    Car ID: <input type="text" th:field="*{carId}"><br>
    Customer ID: <input type="text" th:field="*{customerId}"><br>
    Rental Date: <input type="date" th:field="*{rentalDate}"><br>
    Return Date: <input type="date" th:field="*{returnDate}"><br>
    Status: <input type="text" th:field="*{status}"><br>
    <input type="submit" value="Add Rental">
</form>
</body>
</html>
