<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Car</title>
</head>
<body>
<h2>Add Car</h2>
<form th:action="@{/cars}" th:object="${car}" method="post">
    Make: <input type="text" th:field="*{make}"><br>
    Model: <input type="text" th:field="*{model}"><br>
    Year: <input type="number" th:field="*{year}"><br>
    Status: <input type="text" th:field="*{status}"><br>
    <input type="submit" value="Add Car">
</form>
</body>
</html>

