<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Car List</title>
</head>
<body>
<h1>Car List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        <th>Status</th>
    </tr>
    <tr th:each="car : ${cars}">
        <td th:text="${car.id}">1</td>
        <td th:text="${car.make}">Toyota</td>
        <td th:text="${car.model}">Corolla</td>
        <td th:text="${car.year}">2020</td>
        <td th:text="${car.status}">Available</td>
    </tr>
</table>
<a th:href="@{/cars/add}">Add Car</a>
</body>
</html>
